.listmain {
  font-family: var(--font-family-1);
  /* width: 30%; */
  /* height: 100vh; */
}

.listmain h2 {
  text-align: center;
  width: 100%;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.listbg {
  width: 100%;
  background: linear-gradient(to right, rgb(60, 141, 247), #add8e6);
  margin: 0.8rem 1rem;
  border-radius: 5rem;
  border: 1.5px solid;
}

.listbg p {
  color: rgb(4, 11, 55);
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
}

.listbg p b {
  margin-left: 1rem;
}

.listbg:hover {
  background: linear-gradient(to right, rgb(95, 94, 94), #d0d0d0);
  cursor: pointer;
  margin-left: 2rem;
  transition: 0.3s ease;
}

.listbg p:hover {
  color: black;
}

@media only screen and (max-width: 768px) {
  .listbg,
  .listmain h2 {
    width: 80%;
    margin: 0.8rem auto;
  }
}

@media only screen and (max-width: 500px) {
  .listbg,
  .listmain h2 {
    width: 90% !important;
    /* margin: 0.8rem auto; */
  }
}
